#booksHome {
  display: flex;
  align-items: center;

  .bookItem {
    width: 200px;
    height: 350px;
    border: 1px solid #000;
    .title {
      font-weight: 700;
    }
    .information {
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      max-height: 100;
    }
  }
}
